.App {
  text-align: center;
}

.btn-container{
  width: 30rem;
  margin: auto;
}

.btn{
  padding: 0.5rem;
  margin: 1rem;
}

.details{
  width: 40rem;
  border: 0.5rem solid black;
  margin: 1rem auto;
  border-radius: 1rem;
}

.image{
  height: auto;
  width: 10rem;
}